body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #52788a;
}
.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #218838;
}
